/* ---- CSS Responsive ---- */

/* Par Marius THIESSET → Première année de BTS SIO Option SLAM

/* --------------------------------- */

/* ---  --- */

@media (max-width: 1024px) { /* Format LAPTOP */

    .ca3-scroll-down-link {
        height: 50px;
        width: 40px;
        line-height: 100%;
    }
}

@media (max-width: 768px) { /* Format TABLETTE */

    .ca3-scroll-down-link {
        height: 40px;
        width: 30px;
    }
}

@media (max-width: 425px) { /* Format MOBILE */

    .ca3-scroll-down-link {
        height: 30px;
        width: 20px;
    }
}

@media (max-width: 375px) { /* Format MOBILE */

    .ca3-scroll-down-link {
        height: 25px;
        width: 15px;
    }
}

@media (max-width: 320px) { /* Format MOBILE */

    .ca3-scroll-down-link {
        height: 20px;
        width: 10px;
    }
}




@media (max-width: 1440px) { /* Format LAPTOP L */

    .zone_texte p {
        font-size: 20px;
    }
}

@media (max-width: 1024px) { /* Format LAPTOP */

    .photo_moi img {
        width: 150px;
    }

    .zone_texte p {
        font-size: 15px;
    }
}

@media (max-width: 768px) { /* Format TABLETTE */

    .photo_moi img {
        width: 120px;
    }

    .zone_texte p {
        font-size: 15px;
    }

    .zone_texte h2 {
        font-size: 15px;
    }

    .zone_texte img {
        width: 10px;
    }

    #experience {
        display: none;
    }

    .etablissements_scolaire p {
        font-size: 13px;
    }
}

@media (max-width: 425px) { /* Format MOBILE */

    .photo_moi {
        margin-top: 5%;
    }

    .photo_moi img {
        width: 100px;
    }

    .zone_texte {
        width: 100%;
    }

    .zone_texte p {
        font-size: 10px;
    }

    #scolaire {
        display: none;
    }
}

@media (max-width: 375px) { /* Format MOBILE */

    .zone_texte p {
        font-size: 10px;
    }
}

@media (max-width: 320px) { /* Format MOBILE */

    .photo_moi img {
        width: 90px;
    }

    .zone_texte p {
        font-size: 9px;
    }
}

/* -- Responsive MENU -- */

@media (max-width: 1024px) {

    .menu_haut a {
        font-size: 15px;
    }
}

@media (max-width: 768px) { /* Format TABLETTE */

    #menu_responsive {
        display: block;
        font-size: 25px;
    }

    .menu_haut ul {
        margin-top: 5%;
    }

    .menu_haut ul, .menu_haut:active ul {
        display: none;
        position: static;
        padding: 10px;
        background: var(--bg-color);
        border: 1px solid var(--border-color);
    }

    .menu_haut li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }

    .menu_haut:hover ul {
        display: inline;
        position: absolute;
    }
}

@media (max-width: 425px) { /* Format LAPTOP L */

    .menu_haut ul {
        margin-top: 9%;
    }
}

@media (max-width: 375px) { /* Format LAPTOP L */

    .menu_haut ul {
        margin-top: 10%;
    }
}

@media (max-width: 320px) { /* Format LAPTOP L */

    .menu_haut ul {
        margin-top: 12%;
    }
}

/* -- Responsive CV -- */

@media (max-width: 1440px) { /* Format LAPTOP L */

    .telechargement_cv img {
        height: 25px;
    }
}

@media (max-width: 1024px) { /* Format LAPTOP */

    .telechargement_cv {
        margin-left: 30%;
        margin-right: 30%;
    }

    .telechargement_cv a {
        font-size: 60%;
    }

    .telechargement_cv img {
        height: 15px;
    }
}

@media (max-width: 768px) { /* Format TABLETTE */

    .telechargement_cv {
        margin-left: 30%;
        margin-right: 30%;
    }

    .telechargement_cv a {
        font-size: 55%;
    }

    .telechargement_cv img {
        height: 13px;
    }
}

@media (max-width: 425px) { /* Format MOBILE */

    .telechargement_cv {
        margin-left: 20%;
        margin-right: 20%;
    }

    .telechargement_cv a {
        font-size: 43%;
    }

    .telechargement_cv img {
        height: 10px;
    }
}

@media (max-width: 375px) { /* Format MOBILE */

    .telechargement_cv {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (max-width: 320px) { /* Format MOBILE */

    .telechargement_cv {
        margin-left: 10%;
        margin-right: 10%;
    }
}

/* -- Responsive TITRES -- */

@media (max-width: 1440px) { /* Format LAPTOP L */

    .titre_section {
        margin-left: 30%;
        margin-right: 30%;
    }

    .titre_section h1 {
        font-size: 30px;
    }
}

@media (max-width: 1024px) { /* Format LAPTOP */

    .titre_section {
        margin-left: 30%;
        margin-right: 30%;
    }

    .titre_section h1 {
        font-size: 25px;
    }
}

@media (max-width: 768px) { /* Format TABLETTE */

    .titre_section {
        margin-left: 25%;
        margin-right: 25%;
    }

    .titre_section h1 {
        font-size: 20px;
    }
}

@media (max-width: 425px) { /* Format TABLETTE */

    .titre_section {
        margin-left: 20%;
        margin-right: 20%;
    }

    .titre_section h1 {
        font-size: 15px;
    }
}

/* -- Responsive COMPÉTENCES -- */

@media (max-width: 1440px) { /* Format LAPTOP L */

    ._slider ul li {
        width: 500px;
        height: 250px;
    }

    ._slider img {
        margin-top: 5%;
        margin-bottom: auto;
    }
}

@media (max-width: 1024px) { /* Format LAPTOP */

    ._slider ul li {
        width: 430px;
        height: 230px;
    }

    ._slider img {
        margin-top: 5%;
        margin-bottom: auto;
    }
}

@media (max-width: 768px) { /* Format TABLETTE */

    ._slider ul li {
        width: 400px;
        height: 200px;
    }

    ._slider img {
        margin-top: 5%;
        margin-bottom: auto;
    }
}

@media (max-width: 425px) { /* Format TABLETTE */

    ._slider ul li {
        width: 300px;
        height: 150px;
    }

    ._slider img {
        margin-top: 5%;
        margin-bottom: auto;
    }
}

@media (max-width: 320px) { /* Format TABLETTE */

    ._slider ul li {
        width: 250px;
        height: 100px;
    }

    ._slider img {
        margin-top: 5%;
        margin-bottom: auto;
    }
}

/* -- Responsive PROJETS -- */

@media (max-width: 1440px) { /* Format LAPTOP L */

    .projets {
        width: 35%;
    }

    .image_projet {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1024px) { /* Format LAPTOP */

    .projets {
        width: 40%;
    }

    .image_projet {
        width: 100%;
        height: auto;
    }

    .projets h2 {
        font-size: 100%;
    }

    .captures_projets img {
        height: 180px !important;
    }
}

@media (max-width: 768px) { /* Format TABLETTE */

    .projets_style {
        display: block;
    }

    .projets {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .images_projets img {
        height: 60px !important;
    }
    
    .captures_projets img {
        height: 150px !important;
    }
}

@media (max-width: 425px) { /* Format TABLETTE */

    .projets {
        width: 60%;
    }

    .images_projets img {
        height: 50px !important;
    }
    
    .captures_projets img {
        height: 120px !important;
    }
}

@media (max-width: 375px) { /* Format TABLETTE */

    .projets {
        width: 70%;
    }

    .images_projets img {
        height: 40px !important;
    }
    
    .captures_projets img {
        height: 100px !important;
    }
}

@media (max-width: 320px) { /* Format TABLETTE */

    .projets {
        width: 80%;
    }

    .images_projets img {
        height: 35px !important;
    }
    
    .captures_projets img {
        height: 90px !important;
    }
}

/* -- Responsive CONTACT -- */

@media (max-width: 1024px) {
    #boite {
        width: 60%;
    }

    .coordonnee {
        width: 60%;
    }

    .coordonnee p, .coordonnee a {
        font-size: 15px;
    }

    .coordonnee img {
        height: 15px;
    }
}

@media (max-width: 768px) {
    #boite {
        width: 80%;
        font-size: 15px;
    }

    .coordonnee {
        width: 80%;
    }

    .coordonnee p, .coordonnee a {
        font-size: 12px;
    }

    .coordonnee img {
        height: 10px;
    }
}

@media (max-width: 425px) {
    #boite {
        display: none;
    }
    
    #boite label {
        size: 10;
    }

    .coordonnee p, .coordonnee a {
        font-size: 10px;
    }
}

@media (max-width: 375px) {

    .coordonnee {
        width: 80%;
    }

    .coordonnee p, .coordonnee a {
        font-size: 10px;
    }

    .coordonnee img {
        height: 8px;
    }
}

/* -- Responsive FOOTER -- */

@media (max-width: 768px) {

    .footer_sel {
        padding: 1%;
    }

    .administration {
        position: relative;
        float: none;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }

    .administration a {
        font-size: 10px;
    }

    .administration img {
        height: 10px;
    }

    .mentions {
        position: relative;
        justify-content: center;
    }

    .mentions p {
        font-size: 10px;
    }
}