@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

/* --- Switch de couleurs de page --- */

:root {
    --bg-color: #282C34;
    --secondary-color: #3B4048;
    --font-color: #fff;
    --border-color: #ccc;
    --tick-color: #fff;
}

/* ----------------------------------- */

body, html {
    background-repeat: no-repeat;
    background: var(--bg-color);
    position: relative;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1 {
    text-decoration: none;
    color: #ff5252;
    border-color: #ff5252;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    z-index: 9999;
}

/* Menu */

#menu {
    z-index: 99999;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: solid var(--border-color);
    background: var(--secondary-color);
    position: relative;
    z-index: 99999;
    margin: 10px;
}

#menu li {
    float: right;
    z-index: 99999;
}

#menu li a {
    display: block;
    color: var(--font-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 99999;
}

#menu li a:hover {
    background-color: #ff5252;
    z-index: 99999;
}

/* ------- */

.edition {
    border:solid 2px #ff5252;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px; background-color: rgba(41, 0, 0, 0.3);
    background: rgba(41, 0, 0, 0.3);
    color: white;
}

/* ------- */

#login-box {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    margin-top: 6%;
    border: 1px solid black;
    background: rgba(48, 46, 45, 1);
    min-height: 250px;
    padding: 20px;
    z-index: 9999;
    border: 1px solid var(--border-color);
}

#login-box .logo .logo-caption {
    font-family: 'Poiret One', cursive;
    color: white;
    text-align: center;
    margin-bottom: 0px;
}

.logo img {
    width: 100px;
    border: 2px solid white;
    border-radius: 100%;
}

#login-box .logo .tweak {
    color: #ff5252;
}

#login-box .controls {
    padding-top: 30px;
}

#login-box .controls input {
    border-radius: 0px;
    background: rgb(98, 96, 96);
    border: 0px;
    color: white;
    font-family: 'Nunito', sans-serif;
}

#login-box .controls input:focus {
    box-shadow: none;
}

#login-box .controls input:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#login-box .controls input:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

#login-box button.btn-custom {
    border-radius: 2px;
    margin-top: 8px;
    background:#ff5252;
    border-color: rgba(48, 46, 45, 1);
    color: white;
    font-family: 'Nunito', sans-serif;
}

#login-box button.btn-custom:hover{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    background: rgba(48, 46, 45, 1);
    border-color: #ff5252;
}

/* Tableau formulaire */

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 85%;
    margin: auto;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#customers tr {
    background-color: #f2f2f2;
}

#customers td a {
    text-decoration: none;
    color: #ff5252;
    border-color: #ff5252;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff5252;
    color: white;
}